@import"./base/reset";
// @import"./utils/mixins.scss";
@import"./utils/variable.scss";
@import"./base/common";
@import"./components/footer.scss";
@import"./components/header.scss";
@import"./components/clience.scss";
@import"./components/main.scss";
@import"./components/modal.scss";
@import"./components/portfolio.scss";
@import"./components/adaptive";
@import"./components/mobile_menu";

@media screen and (max-width: 767px){

  .header_list{
display: none;
  }
  
  .container{
    outline: 1px solid green;
}

}


@media screen and (min-width: 768px){

  .menu-toggle{
    display: none;
  }
  
}