
  $text-color: #757575;
  $secondary-text-color: #2F303A;
  $nav-list-color: #212121;
  $alert-text-color: #FFFFFF;
  $background-color: #000000;
  $axent-color: #2196F3;
  $font-family: "Roboto", sans-serif;
  $second-family: "Raleway", sans-serif;
