.hero{
  text-align: center;
padding-top: 200px;
padding-bottom: 200px;
width: 100%;
background-image: url("../img/hero_bg.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}



@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero{
    background-image: url("");
  }
}


.hero_text{
font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}


.hero_btn{
width: 216px;
font-family: var(--font-family);
font-weight: 700;
padding: 10px 25px;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
background-color: var(--axent-color);
border-radius: 10px;
transition: color 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}


.hero_btn:hover{
background-color: rgb(26, 85, 168);
}


.section{
  padding: 94px 0;
}

.team{
  background-color: #F5F4FA;
}

.section_icon{
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px){

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero{
    background-image: url("");
  }
}


 .section_list{
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);
 }
  
}

 .section_form{
  display: none;
 }



@media screen and (min-width: 1200px){
  
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero{
    background-image: url("");
  }
}

 .section_form{
  display: flex;
 }

}


.mobile_contact_tel_item{

font-family: var(--font-family);
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: #2196f3;
}

.section_title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 50px;

}

.section_subtitle{
  color: #212121;
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.section_layer{
font-family: var(--second-family);
position: absolute;
display: flex;
justify-content: center;
align-items: center;
 background-color: #2F303A;
 opacity: 80%;
 width: 100%;
 height: 57px;
bottom: 1px;
 color: #fff;
 border-radius: 3px;
 border: 1px solid black;
 cursor: pointer;
z-index: 1;
}



.section_li{
  position: relative;
  
}



.team_job{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
margin: 10px 0;
}

.btn_list{
display: flex;
justify-content: center;
gap: 8px;
margin-bottom: 50px;
}

.div_box{
  position: relative;
  overflow: hidden;
}
