// мобілбне меню


.menu_container{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: #FFFFFF;
   padding: 40px 48px;
   z-index: 999;
   transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

@media screen and (max-width: 767px){

  .header_list, .header_contact{
display: none;
  }
  
  .container{
    outline: 1px solid green;
}


}


@media screen and (min-width: 768px){

  .menu-toggle{
    display: none;

  }
  
  .menu_container{
 
  }
}

.menu_container.is-open {
  transform: translateX(0);
}


.link:hover{
  color: var(--axent-color);
}

.menu-toggle{
  fill: var(--axent-color);
}

.link{
  font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
margin-bottom: 32px;
letter-spacing: 0.02em;
color: #212121;
}

.link:hover{
  color: var(--axent-color);
}


.supmobile_item{
    display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 64px;
  color: var(--axent-color);
}

.contact_link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 302px;
}

.mobile_current_item{
  font-family: var(--font-family);
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: #2196f3;
margin-bottom: 32px;
}


.mobile_contact_item{
font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
letter-spacing: 0.02em;
color: #757575;
}