.modal_text{
  font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
padding: 24px;
}

.document_link{
  color: var(--axent-color);
}


.button_label{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
background-color: var(--axent-color);
font-weight: 400;
padding: 10px 52px;
font-size: 12px;
line-height: 187%;
letter-spacing: 0.06em;
color: #fff;
bottom: 35px;
    transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); ;
}

.button_label:hover{
background-color: rgb(26, 85, 168);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
transition-property: opacity;
transition-duration: 500ms;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal{
 transform: translate(-50%, -50%) scale(0.25);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  height: 581px;
  width: 528px;
  background-color: #FFFFFF ;
  transform: translate(-50%, -50%);
  transition: transform 500ms;
}

.modal_label{
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px;
}


.modal_input{
  position: absolute;
}
.modal_title_text{
  font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
letter-spacing: 0.03em;
text-align: center;
color: #212121
}


.modal-close-button{
  display: flex;
justify-content: flex-end;
width: 30px;
height: 30px;
}

.label_text{
  display: flex;
  justify-content: center;
 color: #757575;
}





.input_label{
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 40px;
}


.modal_text{
 border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 120px;

}


  






