
.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 480px;
        
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        
    }
    @media screen and (min-width: 1200px) {
        width: 1230px;
        
    }
}




.flex{
display: flex;
}

.overlay{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: #2196f3;
color: #FFFFFF;
top: 0;
left: 0;
opacity: 80%;
transform: translateY(100%);
transition-property: transform;
transition-duration: 500ms;
}

.div_box:hover .overlay{
  transform: translate(0);
}
